/* body {
    background: #F4F4F4 !important;
    font-size: 1.1rem !important;
}
.header_top_bar {
    height: 40px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    overflow: hidden;
    background: #fff;

}
.ul {
    list-style: none outside;
}
.contact_top {
    display: flex;
    flex-direction: row;
}
.contact_top li {
    text-align: -webkit-match-parent;
}
.contact_top li:nth-child(2) {
    padding-left: 60px;
    position: relative;
}
a{
    color: #000 !important;
}
.head_content {
    border-top: 1px solid #ccc;
    background-color: #fff;
}
.logo_wrapper img{
    max-width: 100%;
    height:auto;
}
.search_header .header_searchs {
    margin: 26px 0px;
}
.header_searchs .search-bar  .input-group-field {
    width: 100%;
    /* margin-left: 92px; */
    margin-bottom: 0;
    height: 42px;
    /* padding: 0 100px; */
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    display: block;
    border-radius: 4px;
    outline: none;
    border: solid 1px #e5e6ec;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
}
.header_searchs .search-bar .btn-input-group .icon-fall-text {
    outline: none;
    border: none;
    background: #be1e2d;
    border-radius: unset;
    color: white;
    font-size: 12px;
    height: 42px;
    font-weight: 500;
    text-transform: uppercase;
   
}
.header_searchs .search-bar .search_text {
    text-align: left;
    cursor: pointer;
    padding: 0px 32px 0px 20px;
    width: 100%;
    height: 40x;
    line-height: 40px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #76767e;
    display: inline-block;
    margin: 0px;
    background: #fff !important;
    border-right: 1px solid #eaeaea;
    overflow: hidden;
}

.header_top_card .search_card .login_register .wrap_log {
    display:flex;
    line-height:94px;    
}

.header_top_card .search_card .login_register .wrap_log .fa-custom {
    width: 30px;
    display: inline-block;
    line-height: 94px;
    font-size: 24px;
    color: #2f2f33;
}
.or {
    color: #ccc;
}
.wrap_log .log {
}
.btn_toggle_navbar_custom {
    background: none !important;
    color: black !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    border: none !important;
    outline: none !important;
}
.btn_dropdown_item_custom {
    height:25px;
    line-height:25px;
    text-align: center;
    margin: 10px 0;
    display: inline-block;

}
.nav-item-custom .nav-link-custom:hover {
    color: #be1e2d !important;
}
.card-custom {
    border-radius: 0.5rem;
    box-shadow: 1px 5px 25px 1px black;
    margin: 1rem 0;
}
.footer {
    background: #fff;
    position: relative;
    overflow: hidden;
}
.footer .site-footer {
    position: relative;
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 27px 0 0; 
}
.footer .footer-widget {
    overflow: hidden;
    position: relative;
    z-index: 2;

}
.icon-fall-text {
    outline: none !important;
    border: none !important;
    background: #be1e2d !important;
    border-radius: unset;
    color: white !important;
    font-size: 12px;
    height: 42px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;

}
.footer .footer-widget h4 {
    color: #000;
    margin-bottom: 0px;
    line-height: 34px;
    font-weight: 500;
    margin-top: 0px;
    position: relative;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.footer .list-menu {
    margin-bottom: 15px;
    line-height: 1.71429em;
}
ul {
    list-style: none outside;
}
.footer .list-menu li {
    color: #000;
    line-height: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.copyright {
    color: #be1e2d;
    position: relative;
    padding: 10px 0px 10px;
    background: #fff;
    font-family: 'Poppins',sans-serif;
    font-size: 13px;
}
footer .footer-widget .social_right a {
    width: 34px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    background: #000;
    color: #fff !important;
    margin-right: 8px;
    margin-bottom: 8px;
}
footer .footer-bottom {
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #dbdbdb;
    margin-top: 20px;
}
footer .footer-bottom ul {
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
    display: inline-block;
    font-size: 0;
}
footer .footer-bottom ul li:after {
    content: "\|";
    display: block;
    font-size: 14px;
    color: #666;
    position: absolute;
    top: -1px;
    right: -2px;
}
footer .footer-bottom ul li {
    display: inline-block;
    position: relative;
    padding: 0 10px;
}
footer .footer-bottom ul li a {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    transition: all 0.3s ease 0s;
}
footer .footer-bottom p {
    font-size: 12px;
    padding: 0 125px;
    margin-bottom: 25px;
}
.a-center {
    text-align: center !important;
}
footer .copyright span {
    color: #000;
    padding: 0 0;
    background-color: #fff;
    text-align: center;
    color: #a8a8a8;
}
footer .copyright a, footer .copyright b {
    font-weight: bold;
    color: #be1e2d !important;
}
.form-group-custom {
    height:6rem;
}
.row-custom {
    margin: 1rem 0px !important;
} */
